<style>
  /* Navbar styles */

  ul.navbar-nav {
    font-size: large;
  }
  ul.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid rgba(0, 128, 222, 1);
  }
  ul.navbar-nav .nav-item {
    padding: 0 10px;
    cursor: pointer;
  }
  ul.navbar-nav .nav-item .nav-link {
    background: aliceblue;
  }
  ul.navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    border-bottom: 2px solid rgba(0, 128, 222, 1);
  }

  .ta_skip_navbar {
    display: flex;
    font-size: 15px;
    top: 0;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5px;
    height: 200px; /* Fixed height (adjust as needed) */
    overflow-y: auto; /* Enables vertical scrolling */
  }

  .ta_rp_navbar div {
    padding: 10px 0px;
    font-size: large;
    cursor: pointer;
  }

  .ta_rp_navbar .active {
    font-weight: bold;
    border-bottom: 2px solid rgba(0, 128, 222, 1);
  }

  .ta-rp-nav-item {
    list-style: none;
    margin: 5px 0;
  }
  .ta-rp-nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 5px 10px;
    margin-right: 0.2rem;
    color: #495057;
    background-color: #f8f9fa;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
  .ta-rp-nav-link:hover,
  .ta-rp-nav-link:focus {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid rgba(0, 128, 222, 1);
    outline: none;
  }
  .btn-approve,
  .btn-reject {
    padding: 5px 14px;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
  }
  .btn-approve {
    padding: 6px 16px; /* Adequate padding for a comfortable click area */
    border: none;
    border-radius: 8px; /* Rounded corners for a modern look */
    color: #fff; /* White text color for contrast */
    font-size: 16px; /* Readable font size */
    font-weight: 700; /* Bold text for emphasis */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */

    background: #007486; /* Base background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  }

  .btn-approve:hover {
    background: #007486; /* Slightly darker shade on hover for feedback */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
    color: #fff;
  }

  .btn-approve:focus {
    outline: none; /* Remove default focus outline */
  }

  .btn-approve:active {
    background: #007486; /* Even darker shade when pressed for feedback */
    transform: scale(0.98); /* Slightly shrink the button when pressed */
  }
  .btn-reject {
    padding: 6px 16px; /* Adequate padding for a comfortable click area */
    border: none;
    border-radius: 8px; /* Rounded corners for a modern look */
    color: #fff; /* White text color for contrast */
    font-size: 16px; /* Readable font size */
    font-weight: 700; /* Bold text for emphasis */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */

    background: #cb4e45; /* Base background color (red) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  }

  .btn-reject:hover {
    background: #cb4e45; /* Slightly darker shade on hover for feedback */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
    color: #fff;
  }

  .btn-reject:focus {
    outline: none; /* Remove default focus outline */
  }

  .btn-reject:active {
    background: #c62828; /* Even darker shade when pressed for feedback */
    transform: scale(0.98); /* Slightly shrink the button when pressed */
  }
  .no-rp-records {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: auto;
    font-size: 18px;
    color: #495057;
    margin-bottom: 40px;
  }

  .approved-count {
    color: green;
    font-weight: bold;
    margin-left: 5px;
  }

  /* Count span styles */
  .count {
    font-weight: bold;
    margin-left: 5px;
  }

  .main-rp-container {
    border-radius: 8px;
    border: 1px solid #999393;
  }

  /* Table styles */
  table#travelRPPendingTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
  }

  table#travelRPPendingTable th,
  table#travelRPPendingTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    white-space: nowrap; /* Prevent line wrapping */
    text-align: center;
  }

  /* Header styling */
  table#travelRPPendingTable thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: center;
  }

  /* Hover effects */
  table#travelRPPendingTable tbody tr:hover {
    background-color: #f1f1f1;
  }

  /* Center align specific columns */
  table#travelRPPendingTable td:nth-child(4),
  table#travelRPPendingTable td:nth-child(5),
  table#travelRPPendingTable td:nth-child(6),
  table#travelRPPendingTable td:nth-child(7),
  table#travelRPPendingTable td:nth-child(8),
  table#travelRPPendingTable td:nth-child(9),
  table#travelRPPendingTable td:nth-child(10),
  table#travelRPPendingTable td:nth-child(13),
  table#travelRPPendingTable td:nth-child(14),
  table#travelRPPendingTable td:nth-child(15),
  table#travelRPPendingTable td:nth-child(16),
  table#travelRPPendingTable td:nth-child(17),
  table#travelRPPendingTable td:nth-child(18),
  table#travelRPPendingTable td:nth-child(19) {
    text-align: center;
  }

  /* Checkbox column */
  table#travelRPPendingTable td:first-child {
    text-align: center;
    width: 50px;
    font-weight: bold;
    color: #000;
    background-color: #e6e7e7;
  }

  /* Highlighting total column */
  table#travelRPPendingTable td:last-child {
    font-weight: bold;
    color: #000;
    background-color: #e7f3ff;
  }

  /* Table header alignment */
  table#travelRPPendingTable th {
    text-align: center;
  }

  /* Styling for no records row */
  table#travelRPPendingTable .text-center {
    text-align: center;
    font-weight: bold;
    color: #999;
  }

  /* Table styles for approved records */
  table#travelRPApprovedTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
  }

  table#travelRPApprovedTable th,
  table#travelRPApprovedTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    white-space: nowrap; /* Prevent line wrapping */
    text-align: center;
  }

  /* Header styling for approved records */
  table#travelRPApprovedTable thead th {
    background-color: #d4edda; /* Light green header to indicate approved status */
    color: #155724; /* Dark green text color */
    font-weight: bold;
    text-align: center;
  }

  /* Hover effects for approved records */
  table#travelRPApprovedTable tbody tr:hover {
    background-color: #f1f1f1;
  }

  /* Center align specific columns for approved records */
  table#travelRPApprovedTable td:nth-child(4),
  table#travelRPApprovedTable td:nth-child(5),
  table#travelRPApprovedTable td:nth-child(6),
  table#travelRPApprovedTable td:nth-child(7),
  table#travelRPApprovedTable td:nth-child(8),
  table#travelRPApprovedTable td:nth-child(9),
  table#travelRPApprovedTable td:nth-child(10),
  table#travelRPApprovedTable td:nth-child(13),
  table#travelRPApprovedTable td:nth-child(14),
  table#travelRPApprovedTable td:nth-child(15),
  table#travelRPApprovedTable td:nth-child(16),
  table#travelRPApprovedTable td:nth-child(17),
  table#travelRPApprovedTable td:nth-child(18),
  table#travelRPApprovedTable td:nth-child(19) {
    text-align: center;
  }

  /* Checkbox column for approved records */
  table#travelRPApprovedTable td:first-child {
    text-align: center;
    width: 50px;
    font-weight: bold;
    color: #000;
    background-color: #e6e7e7;
  }

  /* Highlighting total column for approved records */
  table#travelRPApprovedTable td:last-child {
    font-weight: bold;
    color: #155724;
    background-color: #c3e6cb; /* Light green background for totals */
  }

  /* Table header alignment */
  table#travelRPApprovedTable th {
    text-align: center;
  }

  /* Styling for no records row in approved table */
  table#travelRPApprovedTable .text-center {
    text-align: center;
    font-weight: bold;
    color: #999;
  }

  /* Table styles for rejected records */
  table#travelRPRejectTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
  }

  /* Rejected table headers and cells */
  table#travelRPRejectTable th,
  table#travelRPRejectTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    white-space: nowrap; /* Prevent line wrapping */
    text-align: center;
  }

  /* Header styling for rejected records */
  table#travelRPRejectTable thead th {
    background-color: #f8d7da; /* Light red header to indicate rejected status */
    color: #721c24; /* Dark red text color */
    font-weight: bold;
    text-align: center;
  }

  /* Hover effects for rejected records */
  table#travelRPRejectTable tbody tr:hover {
    background-color: #f1f1f1;
  }

  /* Center align specific columns for rejected records */
  table#travelRPRejectTable td:nth-child(4),
  table#travelRPRejectTable td:nth-child(5),
  table#travelRPRejectTable td:nth-child(6),
  table#travelRPRejectTable td:nth-child(7),
  table#travelRPRejectTable td:nth-child(8),
  table#travelRPRejectTable td:nth-child(9),
  table#travelRPRejectTable td:nth-child(10),
  table#travelRPRejectTable td:nth-child(13),
  table#travelRPRejectTable td:nth-child(14),
  table#travelRPRejectTable td:nth-child(15),
  table#travelRPRejectTable td:nth-child(16),
  table#travelRPRejectTable td:nth-child(17),
  table#travelRPRejectTable td:nth-child(18),
  table#travelRPRejectTable td:nth-child(19) {
    text-align: center;
  }

  /* Checkbox column for rejected records */
  table#travelRPRejectTable td:first-child {
    text-align: center;
    width: 50px;
    font-weight: bold;
    color: #000;
    background-color: #e6e7e7;
  }

  /* Highlighting total column for rejected records */
  table#travelRPRejectTable td:last-child {
    font-weight: bold;
    color: #721c24;
    background-color: #f5c6cb; /* Light red background for totals */
  }

  /* Table header alignment */
  table#travelRPRejectTable th {
    text-align: center;
  }

  /* Styling for no records row in rejected table */
  table#travelRPRejectTable .text-center {
    text-align: center;
    font-weight: bold;
    color: #999;
  }

  .approve-btn {
    display: none;
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 100;
  }
  .no-records {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: auto;
    font-size: 18px;
    color: #495057;
    margin-bottom: 40px;
  }

  #no-rp-records-message {
    height: 100%;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    justify-content: center;
    align-items: center;

    display: none; /* Message is hidden by default */
    font-weight: bold;
    color: #495057;
  }
  .action_menu {
    display: flex;
    text-align: right;
    justify-content: end;
  }
  .btn_bulk_approve {
    margin-right: 10px;
    font-size: 15px;
  }
  .btn_bulk_reject {
    margin-right: 10px;
    font-size: 15px;
  }

  .btn_select_all {
    font-size: 15px;
  }

  button.swal2-confirm.swal2-styled:focus,
  button.swal2-cancel.swal2-styled:focus {
    outline: none;
  }

  /* Fixed Serial Number Column 
  .fixed-serial {
    position: sticky;
    left: 0;
    background-color: #302727;
    z-index: 2;
  }

 
  .fixed-total {
    position: sticky;
    right: 0;

    z-index: 2;
  }*/

  .hidden {
    display: none;
  }
  /* Popup styles */
  .dynamic-popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  }

  .dynamic-popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    font-size: 14px;
    font-family: inherit;
  }

  .dynamic-popup-close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .dynamic-popup-close-btn:hover,
  .dynamic-popup-close-btn:focus {
    color: black;
    text-decoration: none;
  }

  .dynamic-table {
    width: 100%;
    border-collapse: collapse;
  }

  .dynamic-table th,
  .dynamic-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .dynamic-table th {
    background-color: #f2f2f2;
  }

  .clickable {
    cursor: pointer; /* Change cursor to pointer */
    position: relative; /* Positioning for the indicator */
    padding: 10px; /* Add some padding */
  }
</style>

<div class="main_rp_content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex px-0">
        <nav class="navbar navbar-expand-lg navbar-light py-2">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ta-rp-nav me-auto">
              <li class="nav-item ta-rp-nav-item">
                <a
                  class="nav-link ta-rp-nav-link active"
                  aria-current="page"
                  id="pendingRPTab"
                  data-tab-type="pendingRP"
                >
                  Pending
                  <span class="pending-count" id="pendingRPCount"></span>
                </a>
              </li>
              <li class="nav-item ta-rp-nav-item">
                <a
                  class="nav-link ta-rp-nav-link"
                  id="approvedRPTab"
                  data-tab-type="approvedRP"
                >
                  Approved
                  <span class="approved-count" id="approvedRPCount"></span>
                </a>
              </li>
              <li class="nav-item ta-rp-nav-item">
                <a
                  class="nav-link ta-rp-nav-link"
                  id="rejectRPTab"
                  data-tab-type="rejectedRP"
                >
                  Reject <span class="reject-count" id="rejectRPCount"></span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="action-rp text-end py-3 ms-auto">
          <!-- Collapsible button visible only on small screens -->
          <button
            class="btn btn-primary mb-2 d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#actionsCollapse"
            aria-expanded="false"
            aria-controls="actionsCollapse"
          >
            Actions
          </button>

          <!-- Actions buttons visible on larger screens -->
          <div class="d-none d-lg-block">
            <button class="btn btn-approve me-2" id="approveButtonRP">
              Approve
            </button>
            <button class="btn btn-reject" id="rejectButtonRP">Reject</button>
          </div>

          <!-- Collapsible container for small screens -->
          <div class="collapse d-lg-none" id="actionsCollapse">
            <div class="card card-body">
              <button class="btn btn-success me-2" id="approveButtonRP">
                Approve
              </button>
              <button class="btn btn-danger" id="rejectButtonRP">Reject</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Employee Tabs -->
  <div class="container-fluid main-rp-container">
    <div class="row">
      <ul class="nav nav-tabs ta_rp_navbar" id="rpEmpTabs" role="tablist">
        <li class="ta-rp-nav-item">
          <button
            class="ta-rp-nav-link active"
            id="all-rp-tab"
            data-bs-toggle="tab"
            data-employee-name="all"
            onclick="handleRPTabClick('all', this)"
          >
            All
            <span class="all-pending-count" id="allRPPendingCount"></span>
          </button>
        </li>
        <!-- Employee tabs will be generated dynamically -->
      </ul>
    </div>

    <!-- Table for travel allowances fetch pending record request-->
    <div class="table-responsive" id="travelRPPending">
      <table class="table table-bordered" id="travelRPPendingTable">
        <thead>
          <tr>
            <th class="fixed-serial">#</th>
            <th>
              <input type="checkbox" id="selectAll" />
            </th>

            <th>Employee Name</th>
            <th>Status</th>
            <th>From Location</th>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>To Location</th>
            <th>End Date</th>
            <th>End Time</th>
            <th>Total Time</th>
            <th>Purpose</th>
            <th>Mode of Travel</th>
            <th>Total KM</th>
            <th>Ticket Amount</th>
            <th>Uploaded Ticket</th>
            <th>Fare Amount</th>
            <!-- <th>Allowance Type</th>-->
            <th>DA</th>
            <th>Halting</th>
            <th>Lodging</th>
            <th>Uploaded Lodging Bill</th>
            <th>Local Conveyance</th>
            <th class="fixed-total">Total</th>
            <th class="d-none">Name</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="no-rp-pending-records text-center py-3" style="display: none">
        You have no Pending records.
      </div>
    </div>

    <!-- Table for travel allowances fetch approved record -->
    <div class="table-responsive" id="travelRPApproved" style="display: none">
      <table class="table table-bordered" id="travelRPApprovedTable">
        <thead>
          <tr>
            <th class="fixed-serial">#</th>
            <th class="d-none">Name</th>
            <th>Employee Name</th>
            <th>Status</th>
            <th>From Location</th>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>To Location</th>
            <th>End Date</th>
            <th>End Time</th>
            <th>Total Time</th>
            <th>Purpose</th>
            <th>Mode of Travel</th>
            <th>Total KM</th>
            <th>Ticket Amount</th>
            <th>Uploaded Ticket</th>
            <th>Fare Amount</th>
            <!-- <th>Allowance Type</th>-->
            <th>DA</th>
            <th>Halting</th>
            <th>Lodging</th>
            <th>Uploaded Lodging Bill</th>
            <th>Local Conveyance</th>
            <th class="fixed-total">Total</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div
        class="no-rp-approved-records text-center py-3"
        style="display: none"
      >
        You have no Approved records.
      </div>
    </div>

    <!-- Table for travel allowances fetch Rejected record -->
    <div class="table-responsive" id="travelRPReject" style="display: none">
      <table class="table table-bordered" id="travelRPRejectTable">
        <thead>
          <tr>
            <th class="fixed-serial">#</th>
            <th class="d-none">Name</th>
            <th>Employee Name</th>
            <th>Status</th>
            <th>From Location</th>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>To Location</th>
            <th>End Date</th>
            <th>End Time</th>
            <th>Total Time</th>
            <th>Purpose</th>
            <th>Mode of Travel</th>
            <th>Total KM</th>
            <th>Ticket Amount</th>
            <th>Uploaded Ticket</th>
            <th>Fare Amount</th>
            <!-- <th>Allowance Type</th>-->
            <th>DA</th>
            <th>Halting</th>
            <th>Lodging</th>
            <th>Uploaded Lodging Bill</th>
            <th>Local Conveyance</th>
            <th class="fixed-total">Total</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="no-rp-reject-records text-center py-3" style="display: none">
        You have no Rejected records.
      </div>
    </div>

    <!-- No records message  for particular employee tab-->
    <div id="no-rp-records-message" style="display: none">
      No records available for this employee.
    </div>
  </div>
</div>

<!--display message for all three Tab data empty-->
<div class="no-rp-records text-center mt-3" style="display: none">
  <div><img src="/assets/travel_allowance/images/not-found.webp" alt="" /></div>
  You have no Request.
</div>

<script>
  //fetch the pending records and tab count on page load by default
  fetchPendingRPRecords();
  fetchRPTabCounts();

  //Fetch the count of Main tabs Pending, Reject, Approved
  async function fetchRPTabCounts() {
    try {
      const response = await fetch(
        `/api/method/travel_allowance.travel_allowance.doctype.travel_allowances.travel_allowances.get_rp_records?user_id={{ frappe.session.user }}`
      );

      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }

      const data = await response.json();
      const empNames = data.message.employee_names;
      const countByEmp = data.message.employee_counts;
      const pendingRecord = data.message.pending;
      const approvedRecord = data.message.approved;
      const rejectedRecord = data.message.rejected;

      const pendingRPCount = document.getElementById("pendingRPCount");
      const approvedRPCount = document.getElementById("approvedRPCount");
      const rejectRPCount = document.getElementById("rejectRPCount");

      pendingRPCount.textContent = pendingRecord.length || "";
      approvedRPCount.textContent = approvedRecord.length || "";
      rejectRPCount.textContent = rejectedRecord.length || "";
    } catch (error) {
      console.error("Error fetching employee names:", error);
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    const pendingRPTab = document.getElementById("pendingRPTab");
    const approvedRPTab = document.getElementById("approvedRPTab");
    const rejectRPTab = document.getElementById("rejectRPTab");

    const pendingRPTable = document.getElementById("travelRPPendingTable");
    const approvedRPTable = document.getElementById("travelRPApproved");
    const rejectRPTable = document.getElementById("travelRPReject");

    //get action buttons
    const actionRPMenu = document.querySelector(".action-rp");

    const noRPPendingRecordsMsg = document.querySelector(
      ".no-rp-pending-records"
    );
    const noRPApprovedRecordsMsg = document.querySelector(
      ".no-rp-approved-records"
    );
    const noRPRejectRecordsMsg = document.querySelector(
      ".no-rp-reject-records"
    );

    // Initially show the pending table
    pendingRPTable.style.display = "block";
    approvedRPTable.style.display = "none";
    rejectRPTable.style.display = "none";

    // Add event listeners for tab clicks
    pendingRPTab.addEventListener("click", function () {
      toggleActiveRPTab(pendingRPTab);
      showRPTable("pending"); // Show pending records table
      fetchPendingRPRecords(); // Fetch pending records
      noRPApprovedRecordsMsg.style.display = "none";
      noRPRejectRecordsMsg.style.display = "none";
      actionRPMenu.style.display = "block";
    });

    approvedRPTab.addEventListener("click", function () {
      toggleActiveRPTab(approvedRPTab);
      showRPTable("approved"); // Show approved records table
      fetchApprovedRPRecords(); // Fetch approved records
      noRPPendingRecordsMsg.style.display = "none";
      noRPRejectRecordsMsg.style.display = "none";
      actionRPMenu.style.display = "none";
    });

    rejectRPTab.addEventListener("click", function () {
      toggleActiveRPTab(rejectRPTab);
      showRPTable("rejected"); // Show rejected records table
      fetchRejectedRPRecords(); // Fetch rejected records
      noRPApprovedRecordsMsg.style.display = "none";
      noRPPendingRecordsMsg.style.display = "none";
      actionRPMenu.style.display = "none";
    });

    // Function to toggle the active class
    function toggleActiveRPTab(activeTab) {
      pendingRPTab.classList.remove("active");
      approvedRPTab.classList.remove("active");
      rejectRPTab.classList.remove("active");

      activeTab.classList.add("active");
    }

    // Function to manage table visibility
    function showRPTable(type) {
      if (type === "pending") {
        pendingRPTable.style.display = "block";
        approvedRPTable.style.display = "none";
        rejectRPTable.style.display = "none";
      } else if (type === "approved") {
        pendingRPTable.style.display = "none";
        approvedRPTable.style.display = "block";
        rejectRPTable.style.display = "none";
      } else if (type === "rejected") {
        pendingRPTable.style.display = "none";
        approvedRPTable.style.display = "none";
        rejectRPTable.style.display = "block";
      }
    }
  });

  // Handle employee tab click
  function handleRPTabClick(rpEmpName, element) {
    console.log(`Tab clicked: ${rpEmpName}`);

    // Remove "active" class from all nav-links
    const rpButtons = document.querySelectorAll("#rpEmpTabs .ta-rp-nav-link");
    rpButtons.forEach((button) => {
      button.classList.remove("active");
    });

    // Add "active" class to the clicked tab
    element.classList.add("active");

    // Find the currently active main tab (Pending, Approved, Rejected)
    const activeMainRPTab = document.querySelector(
      ".ta-rp-nav .ta-rp-nav-link.active"
    );
    console.log("active tab", activeMainRPTab);
    const mainRPTabType = activeMainRPTab
      ? activeMainRPTab.getAttribute("data-tab-type")
      : null;

    console.log("Active Main Tab Type:", mainRPTabType);
    if (!mainRPTabType) {
      console.error("No main tab found.");
      return;
    }

    // Pass the employee name and main tab type to filter function
    filterRPTableByEmployee(rpEmpName, mainRPTabType);
  }

  // Filter table based on employee name and main tab (Pending, Approved, Rejected)
  function filterRPTableByEmployee(employeeName, tabType) {
    let tableBody;
    let noRecordsMessage;
    let tableRP;

    const noRecordsByEmpMsg = document.getElementById("no-rp-records-message");
    // Determine the table and message elements based on the active tab
    if (tabType === "pendingRP") {
      tableBody = document.querySelector("#travelRPPendingTable tbody");
      noRecordsMessage = document.querySelector(".no-rp-pending-records");
      tableRP = document.getElementById("travelRPPending");
    } else if (tabType === "approvedRP") {
      tableBody = document.querySelector("#travelRPApprovedTable tbody");
      noRecordsMessage = document.querySelector(".no-rp-approved-records");
      tableRP = document.getElementById("travelRPApproved");
    } else if (tabType === "rejectedRP") {
      tableBody = document.querySelector("#travelRPRejectTable tbody");
      noRecordsMessage = document.querySelector(".no-rp-reject-records");
      tableRP = document.getElementById("travelRPReject");
    }
    console.log("table", tableBody);
    console.log("tabtype", tabType);

    if (!tableBody) {
      console.error(
        "Error: Table body element not found for " + tabType + " tab."
      );
      return;
    }

    const rows = tableBody.querySelectorAll("tr");
    let visibleRows = 0; // Counter for visible rows
    let serialNumber = 1;

    // Loop through all rows and hide those that don't match the employee name
    rows.forEach((row) => {
      const fullName = row.querySelector("td:nth-child(3)").innerText.trim(); // Adjust the column index if necessary

      // Show rows if they match the employee name or if 'All' is selected
      if (
        employeeName.toLowerCase() === "all" ||
        fullName.toLowerCase() === employeeName.toLowerCase()
      ) {
        row.style.display = ""; // Show the row
        const serialCell = row.querySelector("td:nth-child(1)"); // Assuming the serial number is in the first column
        serialCell.textContent = serialNumber++;
        visibleRows++;
      } else {
        row.style.display = "none"; // Hide the row
      }
    });

    // Handle no records message visibility
    if (visibleRows === 0) {
      noRecordsByEmpMsg.style.display = "block"; // Show "no records" message
      tableRP.style.display = "none"; // Hide table if no records found
    } else {
      noRecordsByEmpMsg.style.display = "none"; // Hide "no records" message
      tableRP.style.display = "block"; // Show table if records are found
    }
    if (employeeName.toLowerCase() === "all") {
      noRecordsByEmpMsg.style.display = "none"; // Hide "no records" message
    }
  }

  // fetch the count according to emp names
  function renderRPEmployeeTabs(empNames, countByEmp, tabType) {
    const rpEmpTabs = document.getElementById("rpEmpTabs");
    rpEmpTabs.innerHTML = ""; // Clear previous tabs

    // Initialize total count for "All" tab
    let totalCount = 0;

    // Check if "All" tab already exists
    const allTabExists = document.getElementById("all-rp-tab");

    if (!allTabExists) {
      // Create the "All" tab
      const allTabItem = document.createElement("li");
      allTabItem.className = "ta-rp-nav-item";
      allTabItem.innerHTML = `<button
                  class="ta-rp-nav-link active"
                  id="all-rp-tab"
                  data-bs-toggle="tab"
                  data-employee-name="all"
                  onclick="handleRPTabClick('all', this)"
              >
                  All
                  <span class="all-pending-count" id="allRPPendingCount"></span>
              </button>`;
      rpEmpTabs.appendChild(allTabItem);
    }

    empNames.forEach((employee) => {
      const employeeId = employee.employee_id; // Assuming employee_id is available
      const employeeFullName = employee.full_name; // Assuming full_name is available
      const count = countByEmp[tabType][employeeId]; // Get the count for this employee

      totalCount += count; // Add to total count

      const tabItem = document.createElement("li");
      tabItem.className = "ta-rp-nav-item";
      tabItem.innerHTML = `<button
                  class="ta-rp-nav-link"
                  id="emp-rp-tab-${employeeId}"
                  data-bs-toggle="tab"
                  data-employee-name="${employeeFullName}"
                  onclick="handleRPTabClick('${employeeFullName}', this)"
                >
                  ${capitalizeFirstLetterOfEachWord(employeeFullName)}
                  <span class="emp-pending-count">${count || ""} </span>
                </button>`;
      rpEmpTabs.appendChild(tabItem);
    });

    // Update "All" tab count
    const allCountElement = document.getElementById("allRPPendingCount");
    if (totalCount != 0) {
      allCountElement.innerText = totalCount; // Set total count for "All" tab
    } else {
      allCountElement.innerText = ""; // Set total count for "All" tab
    }
  }

  //Function to Fetch the pending records
  async function fetchPendingRPRecords() {
    const noRecordsByEmpMsg = document.getElementById("no-rp-records-message");
    noRecordsByEmpMsg.style.display = "none";
    try {
      // Fetch pending records
      const response = await fetch(
        `/api/method/travel_allowance.travel_allowance.doctype.travel_allowances.travel_allowances.get_rp_records?user_id={{ frappe.session.user }}`
      );

      // Check if the response is ok (status code 200-299)
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }

      // Parse the JSON data from the response
      const data = await response.json();

      console.log("data from RP:", data);

      const pendingRecord = data.message.pending;
      const approvedRecord = data.message.approved;
      const rejectedRecord = data.message.rejected;
      const empNames = data.message.employee_names;
      const countByEmp = data.message.employee_counts;
      const empPendingCount = countByEmp.pending;
      console.log("RP data:", pendingRecord);
      console.log("countByEmp:", countByEmp.pending);

      // Render employee tabs
      renderRPEmployeeTabs(empNames, countByEmp, "pending");

      const tableBody = document.querySelector("#travelRPPendingTable tbody");
      const noRecordsMessage = document.querySelector(".no-rp-records");
      const noPendingRecord = document.querySelector(".no-rp-pending-records");

      const pendinRPTableHead = document.querySelector("#travelRPPendingTable");

      if (!tableBody) {
        console.error("Error: Table body element not found.");
        return;
      }

      // Clear existing rows
      tableBody.innerHTML = "";

      if (pendingRecord.length === 0) {
        console.log("pendingRecord length:", pendingRecord.length);
        pendinRPTableHead.style.display = "none";
        noPendingRecord.style.display = "block";
        // document.querySelector(".main_rp_content").style.display = "none";

        if (approvedRecord.length != 0 || rejectedRecord.length != 0) {
          noRecordsMessage.style.display = "none";
          document.querySelector(".main_rp_content").style.display = "block";
        } else {
          noRecordsMessage.style.display = "block";
          document.querySelector(".main_rp_content").style.display = "none";
        }
      } else {
        noPendingRecord.style.display = "none";
        pendingRecord.forEach((record, index) => {
          const row = document.createElement("tr");

          row.innerHTML = `
                    <td class="fixed-serial">${index + 1}</td>
                    <td><input type="checkbox" class="rpRowCheckbox" onclick="handleRPCheckboxClick(this, '${
                      record.name
                    }')" /></td>
  
                    
                    <td>${record.first_name} ${record.last_name}</td>
                    <td>${record.status}</td>
                    <td>
                      ${
                        record.from_location === "Other"
                          ? record.from_location_other
                          : record.from_location
                      }
                    </td>
  
                    <td>${formatDate(record.from_date)}</td>
                    <td>${record.from_time}</td>
                    <td>
                      ${
                        record.to_location === "Other"
                          ? record.to_location_other
                          : record.to_location
                      }
                    </td>
                    <td>${formatDate(record.to_date)}</td>
                    <td>${record.to_time}</td>
                    <td>${record.total_time}</td>
                    <td>${record.purpose}</td>
                    <td>${record.travel_mode}</td>
                    <td>${record.total_km}</td>
                    <td>${record.ticket_amount}</td>
                    <td>${
                      record.upload_ticket
                        ? `<a href="${record.upload_ticket}" target="_blank">View</a>`
                        : "-"
                    }</td>
                    <td>${record.fare_amount}</td>
                   <!-- <td>${record.allowance_type}</td>-->
                    <td>${record.final_da_amount}</td>
                    <td>${record.final_halt_amount}</td>
                    <td>${record.final_lodge_amount}</td>
                    <td>${
                      record.upload_lodging
                        ? `<a href="${record.upload_lodging}" target="_blank">View</a>`
                        : "-"
                    }</td>
                    <td class="${
                      record.final_local_amount &&
                      record.final_local_amount.trim() !== "-" &&
                      parseFloat(record.final_local_amount) !== 0
                        ? "clickable"
                        : ""
                    }"
                      data-record-id="${record.name}"
                      ${
                        record.final_local_amount &&
                        record.final_local_amount.trim() !== "-" &&
                        parseFloat(record.final_local_amount) !== 0
                          ? `title="Click for Local details"`
                          : ""
                      }>
                      ${record.final_local_amount || "-"}
                    </td>
                    <td class="fixed-total">${record.total_amount}</td>
                    <td class="d-none" data-record-name="${record.name}">${
            record.name
          }</td>
                  `;

          // Add event listener to the final_local_amount cell if it has a clickable class
          const localConveyanceCell = row.querySelector(".clickable");
          if (localConveyanceCell) {
            localConveyanceCell.addEventListener("click", () => {
              const recordId =
                localConveyanceCell.getAttribute("data-record-id");
              console.log(recordId);
              fetchLocalConveyance(recordId); // Fetch the local conveyance records
            });
          }

          tableBody.appendChild(row);
        });
      }
    } catch (error) {
      console.error("Error:", error);
    }
  }

  function formatDate(dateString) {
    if (!dateString) return ""; // Return empty string if no date is provided
    const [year, month, day] = dateString.split("-");
    return `${day}-${month}-${year}`;
  }
  function capitalizeFirstLetterOfEachWord(str) {
    return str
      .split(" ") // Split the string into an array of words
      .map((word) => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()) // Capitalize the first letter
      .join(" "); // Join the array back into a string
  }

  // Function to handle checkbox click (check/unchecked)
  window.handleRPCheckboxClick = function (checkbox, recordName) {
    if (checkbox.checked) {
      console.log("Selected RP Record Name: ", recordName);
      checkbox.dataset.recordId = recordName; // Store record ID in checkbox dataset
    }
  };

  // Get the select records as array....
  function getSelectedRPRows() {
    const selectedRecords = [];
    const checkboxes = document.querySelectorAll(".rpRowCheckbox:checked"); // Find all checked checkboxes

    checkboxes.forEach((checkbox) => {
      const recordName = checkbox
        .closest("tr")
        .querySelector("td[data-record-name]")
        .getAttribute("data-record-name");
      selectedRecords.push(recordName);
    });

    return selectedRecords;
  }

  // Function to handle the approval process for RP-level records
  async function approveSelectedRPRecords() {
    const selectedRPRows = getSelectedRPRows();
    console.log("selected rows:", selectedRPRows);

    if (selectedRPRows.length === 0) {
      Swal.fire({
        icon: "warning",
        title: "No records selected",
        text: "Please select at least one record to approve.",
      });
      return;
    }

    // Ask for confirmation before proceeding with approval
    const { value: confirm } = await Swal.fire({
      title: "Are you sure?",
      text: `You are about to approve ${selectedRPRows.length} record(s).`,
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes, approve!",
      cancelButtonText: "Cancel",
    });

    if (confirm) {
      // Ask for a remark or comment
      const { value: remark } = await Swal.fire({
        title: "Add Remark",
        input: "textarea",
        inputPlaceholder: "Enter your remark or comment here...",
        showCancelButton: true,
        confirmButtonText: "Submit Remark",
        cancelButtonText: "Cancel",
      });

      if (remark) {
        try {
          // Show the "Please wait" message during the approval process
          Swal.fire({
            title: "Please wait...",
            text: "Approving records...",
            allowOutsideClick: false,
            didOpen: () => {
              Swal.showLoading();
            },
          });

          // Pass the selected rows and remark to your server in the fetch call
          const response = await fetch(
            "/api/method/travel_allowance.travel_allowance.doctype.travel_allowances.travel_allowances.bulk_rp_approve",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ ids: selectedRPRows, remark: remark }),
            }
          );

          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }

          const result = await response.json();

          // Close the previous "Please wait" message
          Swal.close();

          // Show the success message and then a "Please wait" message while refreshing
          Swal.fire({
            title: "Approved!",
            text: "Records have been processed for approval.",
            icon: "success",
            confirmButtonText: "OK",
          }).then(() => {
            Swal.fire({
              title: "Please wait",
              text: "Refreshing the page...",
              allowOutsideClick: false,
              allowEscapeKey: false,
              didOpen: () => {
                Swal.showLoading();
              },
            });

            // Add a delay before refreshing the table
            setTimeout(() => {
              // Refresh the entire page
              window.location.reload();
              // Optionally, refresh other data if needed
              //fetchPendingRPRecords();
              //fetchTabCounts();

              // Close the loading message after the refresh
              Swal.close();
            }, 1500); // Adjust the delay time as needed
          });
        } catch (error) {
          console.error("Error:", error);
          Swal.fire({
            icon: "error",
            title: "Error",
            text: "An error occurred while approving records.",
          });
        }
      }
    }
  }

  // Event listener for the approve button
  document
    .getElementById("approveButtonRP")
    .addEventListener("click", approveSelectedRPRecords);

  // Function to handle the rejection process for RP-level records
  async function rejectSelectedRPRecords() {
    const selectedRPRows = getSelectedRPRows();
    console.log("selected rows:", selectedRPRows);

    if (selectedRPRows.length === 0) {
      Swal.fire({
        icon: "warning",
        title: "No records selected",
        text: "Please select at least one record to reject.",
      });
      return;
    }

    // Ask for a remark before confirming rejection
    const { value: remark } = await Swal.fire({
      title: "Enter Reason",
      input: "textarea",
      inputLabel: "",
      inputPlaceholder: "Enter Reason of Reject...",
      inputAttributes: {
        "aria-label": "Type your Reason here",
      },
      showCancelButton: true,
      confirmButtonText: "Reject",
      cancelButtonText: "Cancel",
      preConfirm: (inputValue) => {
        if (!inputValue) {
          Swal.showValidationMessage("Please enter a remark");
        }
        return inputValue;
      },
    });

    // Proceed with rejection if remark is provided
    if (remark) {
      // Ask for confirmation before proceeding with rejection
      const { value: confirm } = await Swal.fire({
        title: "Are you sure?",
        text: `You are about to reject ${selectedRPRows.length} record(s).`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, reject!",
        cancelButtonText: "Cancel",
      });

      if (confirm) {
        try {
          // Pass these record names and remark to your server in the fetch call
          const response = await fetch(
            "/api/method/travel_allowance.travel_allowance.doctype.travel_allowances.travel_allowances.bulk_rp_reject",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ ids: selectedRPRows, remark: remark }), // Include remark
            }
          );

          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }

          const result = await response.json();

          Swal.fire({
            title: "Rejected!",
            text: "Selected records have been rejected.",
            icon: "success",
            confirmButtonText: "OK",
          }).then(() => {
            Swal.fire({
              title: "Please wait",
              text: "Refreshing the page...",
              allowOutsideClick: false,
              allowEscapeKey: false,
              didOpen: () => {
                Swal.showLoading();
              },
            });
            // Add a delay before refreshing the table
            setTimeout(() => {
              // Refresh the entire page
              window.location.reload();
              // fetchPendingRecords(); // Refresh the table
              //fetchTabCounts();
              Swal.close(); // Close the loading message
            }, 1500); // Adjust the delay time as needed
          });
        } catch (error) {
          console.error("Error:", error);
          Swal.fire({
            icon: "error",
            title: "Error",
            text: "An error occurred while rejecting records.",
          });
        }
      }
    }
  }

  // Event listener for the reject button
  document
    .getElementById("rejectButtonRP")
    .addEventListener("click", rejectSelectedRPRecords);

  //function to Fetch Approved Records
  async function fetchApprovedRPRecords() {
    try {
      // Make a fetch request to get approved RP records
      const response = await fetch(
        `/api/method/travel_allowance.travel_allowance.doctype.travel_allowances.travel_allowances.get_rp_records?user_id={{ frappe.session.user }}`
      );

      // Check if the response status is okay
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }

      // Parse the JSON data from the response
      const data = await response.json();
      console.log("Approved RP records:", data.message.approved);

      // Process the approved records (assuming the data structure contains an 'approved' field)
      const approvedRecords = data.message.approved;
      const empNames = data.message.employee_names;
      const countByEmp = data.message.employee_counts;

      // Render employee tabs with names and count
      renderRPEmployeeTabs(empNames, countByEmp, "approved");

      // Check if "All" emp tab exists
      const allTabExists = document.getElementById("all-rp-tab");

      const noRecordsByEmpMsg = document.getElementById(
        "no-rp-records-message"
      );
      noRecordsByEmpMsg.style.display = "none";

      const tableRPPending = document.getElementById("travelRPPendingTable");
      if (tableRPPending) {
        tableRPPending.style.display = "none"; // hide pending records table
      }

      const tableRPBody = document.querySelector(
        "#travelRPApprovedTable tbody"
      );

      const noRPApprovedRecords = document.querySelector(
        ".no-rp-approved-records"
      );
      const approvedRPTableHead = document.querySelector(
        "#travelRPApprovedTable"
      );

      if (!tableRPBody) {
        console.error("Error: Table body element not found.");
        return;
      }
      tableRPBody.innerHTML = "";

      // Perform necessary actions, e.g., updating the UI with approved records
      if (approvedRecords.length > 0) {
        console.log("Number of approved records:", approvedRecords.length);

        // Populate table rows with the approved records
        approvedRecords.forEach((record, index) => {
          const row = document.createElement("tr");

          row.innerHTML = `
                  <td class="fixed-serial">${index + 1}</td>
                  <td class="d-none" data-record-name="${record.name}">${
            record.name
          }</td>
                  <td>${record.first_name} ${record.last_name}</td>
                  <td>${record.status}</td>
                  <td>
                    ${
                      record.from_location === "Other"
                        ? record.from_location_other
                        : record.from_location
                    }
                  </td>
  
                  <td>${formatDate(record.from_date)}</td>
                  <td>${record.from_time}</td>
                  <td>
                    ${
                      record.to_location === "Other"
                        ? record.to_location_other
                        : record.to_location
                    }
                  </td>
                  <td>${formatDate(record.to_date)}</td>
                  <td>${record.to_time}</td>
                  <td>${record.total_time}</td>
                  <td>${record.purpose}</td>
                  <td>${record.travel_mode}</td>
                  <td>${record.total_km}</td>
                  <td>${record.ticket_amount}</td>
                  <td>${
                    record.upload_ticket
                      ? `<a href="${record.upload_ticket}" target="_blank">View</a>`
                      : "-"
                  }</td>
                  <td>${record.fare_amount}</td>
                  <!-- <td>${record.allowance_type}</td>-->
                  <td>${record.final_da_amount}</td>
                  <td>${record.final_halt_amount}</td>
                  <td>${record.final_lodge_amount}</td>
                  <td>${
                    record.upload_lodging
                      ? `<a href="${record.upload_lodging}" target="_blank">View</a>`
                      : "-"
                  }</td>
                  <td class="${
                    record.final_local_amount &&
                    record.final_local_amount.trim() !== "-" &&
                    parseFloat(record.final_local_amount) !== 0
                      ? "clickable"
                      : ""
                  }"
                    data-record-id="${record.name}"
                    ${
                      record.final_local_amount &&
                      record.final_local_amount.trim() !== "-" &&
                      parseFloat(record.final_local_amount) !== 0
                        ? `title="Click for Local details"`
                        : ""
                    }>
                    ${record.final_local_amount || "-"}
                  </td>
                  <td class="fixed-total">${record.total_amount}</td>
                `;
          // Add event listener to the final_local_amount cell if it has a clickable class
          const localConveyanceCell = row.querySelector(".clickable");
          if (localConveyanceCell) {
            localConveyanceCell.addEventListener("click", () => {
              const recordId =
                localConveyanceCell.getAttribute("data-record-id");
              console.log(recordId);
              fetchLocalConveyance(recordId); // Fetch the local conveyance records
            });
          }

          // Append the row to the approved table body
          tableRPBody.appendChild(row);
        });
      } else {
        approvedRPTableHead.style.display = "none";
        noRPApprovedRecords.style.display = "block"; // show the no record message
        if (allTabExists.classList.contains("active")) {
          noRecordsByEmpMsg.style.display = "none";
        }
      }
    } catch (error) {
      console.error("Error fetching approved RP records:", error);
      Swal.fire({
        icon: "error",
        title: "Error",
        text: "An error occurred while fetching approved records. Please try again later.",
      });
    }
  }

  //Function to Fetch Rejected Records
  async function fetchRejectedRPRecords() {
    try {
      // Make a fetch request to get approved RP records
      const response = await fetch(
        `/api/method/travel_allowance.travel_allowance.doctype.travel_allowances.travel_allowances.get_rp_records?user_id={{ frappe.session.user }}`
      );

      // Check if the response status is okay
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }

      // Parse the JSON data from the response
      const data = await response.json();
      console.log("Approved RP records:", data.message.rejected);

      // Process the approved records (assuming the data structure contains an 'approved' field)
      const rejetedRecords = data.message.rejected;
      const empNames = data.message.employee_names;
      const countByEmp = data.message.employee_counts;

      // Render employee tabs to fetch count by emp
      renderRPEmployeeTabs(empNames, countByEmp, "rejected");

      // Check if "All" emp tab exists
      const allTabExists = document.getElementById("all-rp-tab");

      const noRecordsByEmpMsg = document.getElementById(
        "no-rp-records-message"
      );

      const tableRPBody = document.querySelector("#travelRPRejectTable tbody");

      const noRPRejectRecords = document.querySelector(".no-rp-reject-records");
      const rejectRPTableHead = document.querySelector("#travelRPRejectTable");

      if (!tableRPBody) {
        console.error("Error: Table body element not found.");
        return;
      }
      tableRPBody.innerHTML = "";

      // Perform necessary actions, e.g., updating the UI with approved records
      if (rejetedRecords.length > 0) {
        console.log("Number of approved records:", rejetedRecords.length);

        // Populate table rows with the approved records
        rejetedRecords.forEach((record, index) => {
          const row = document.createElement("tr");

          row.innerHTML = `
                  <td class="fixed-serial">${index + 1}</td>
                  <td class="d-none" data-record-name="${record.name}">${
            record.name
          }</td>
                  <td>${record.first_name} ${record.last_name}</td>
                  <td>${record.status}</td>
                  <td>
                    ${
                      record.from_location === "Other"
                        ? record.from_location_other
                        : record.from_location
                    }
                  </td>
  
                  <td>${formatDate(record.from_date)}</td>
                  <td>${record.from_time}</td>
                  <td>
                    ${
                      record.to_location === "Other"
                        ? record.to_location_other
                        : record.to_location
                    }
                  </td>
                  <td>${formatDate(record.to_date)}</td>
                  <td>${record.to_time}</td>
                  <td>${record.total_time}</td>
                  <td>${record.purpose}</td>
                  <td>${record.travel_mode}</td>
                  <td>${record.total_km}</td>
                  <td>${record.ticket_amount}</td>
                  <td>${
                    record.upload_ticket
                      ? `<a href="${record.upload_ticket}" target="_blank">View</a>`
                      : "-"
                  }</td>
                  <td>${record.fare_amount}</td>
                  <!-- <td>${record.allowance_type}</td>-->
                  <td>${record.final_da_amount}</td>
                  <td>${record.final_halt_amount}</td>
                  <td>${record.final_lodge_amount}</td>
                  <td>${
                    record.upload_lodging
                      ? `<a href="${record.upload_lodging}" target="_blank">View</a>`
                      : "-"
                  }</td>
                  <td class="${
                    record.final_local_amount &&
                    record.final_local_amount.trim() !== "-" &&
                    parseFloat(record.final_local_amount) !== 0
                      ? "clickable"
                      : ""
                  }"
                    data-record-id="${record.name}"
                    ${
                      record.final_local_amount &&
                      record.final_local_amount.trim() !== "-" &&
                      parseFloat(record.final_local_amount) !== 0
                        ? `title="Click for Local details"`
                        : ""
                    }>
                    ${record.final_local_amount || "-"}
                  </td>
                  <td class="fixed-total">${record.total_amount}</td>
                `;
          // Add event listener to the final_local_amount cell if it has a clickable class
          const localConveyanceCell = row.querySelector(".clickable");
          if (localConveyanceCell) {
            localConveyanceCell.addEventListener("click", () => {
              const recordId =
                localConveyanceCell.getAttribute("data-record-id");
              console.log(recordId);
              fetchLocalConveyance(recordId); // Fetch the local conveyance records
            });
          }

          // Append the row to the approved table body
          tableRPBody.appendChild(row);
        });
      } else {
        rejectRPTableHead.style.display = "none";
        noRPRejectRecords.style.display = "block"; // show the no record message
        if (allTabExists.classList.contains("active")) {
          noRecordsByEmpMsg.style.display = "none";
        }
      }
    } catch (error) {
      console.error("Error fetching approved RP records:", error);
      Swal.fire({
        icon: "error",
        title: "Error",
        text: "An error occurred while fetching approved records. Please try again later.",
      });
    }
  }
</script>
